<h2>Upcoming classes...</h2>
<div class="tables">
  <table>
    <thead>
      <tr>
        <th>Class</th>
        <th>Date</th>
        <th>Time</th>
        <th>Type</th>
        <th>Capacity</th>
        <th>Modify</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% for event in @events %>
      <tr>
        <td>
          <div class="hyperlink">
            <a href="/events/<%= event.id() %>"><%= event.title() %></a>
          </div>
        </td>
        <td><%= event.event_date() %></td>
        <td><%= event.time_slot() %></td>
        <td><%= event.type() %></td>
        <td><%= event.capacity() %></td>
        <td><a href="/events/<%= event.id() %>/edit"><button type="button">Edit</button></a></td>
        <td><form action="/events/<%= event.id() %>/delete" method="POST"><p class="btn--wrapper"><input type="submit" class="btn btn--action" value="Delete"></p></form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form">
  <h2>Add a new class for our clients</h2>
  <form action="/events" method="post">
    <div class="form-wrapper">

  <div class="form-elements">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title"/>
  </div>

  <div class="form-elements">
    <label for="time_slot">Time:</label>
    <input type="text" name="time_slot" id="time_slot"/>
  </div>

  <div class="form-elements">
    <label for="event_date">Date:</label>
    <input type="text" name="event_date" id="event_date"/>
  </div>

  <div class="form-elements">
    <label for="type">Type:</label>
    <input type="text" name="type" id="type"/>
  </div>

  <div class="form-elements">
    <label for="type">Capacity:</label>
    <input type="number" name="capacity" id="capacity"/>
  </div>

  <div class="form-elements">
    <input type='submit' value="Add new class">
  </div>

    </div>
  </form>

</div>
