<h1>Upcoming classes...</h1>
<table>
  <tr>
    <th>Class</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <% for event in @events %>
  <tr>
    <td><a href="/events/<%= event.id() %>"><%= event.title() %></a></td>
    <td><%= event.event_date() %></td>
    <td><%= event.time_slot() %></td>
    <td><a href="/events/<%= event.id() %>/edit">Edit</a></td>
  </tr>
  <% end %>
</table>
<a href="/events/new">Add a new class</a>
