<h2>Current client list...</h2>
<div class="tables">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Modify</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% for client in @clients %>
      <tr>
        <td>
          <div class="hyperlink">
            <a href="/clients/<%= client.id() %>"><%= client.format_name() %></a>
          </div>
        </td>
        <td><%= client.age() %></td>
        <td><a href="/clients/<%= client.id() %>/edit"><button type="button">Edit</button></a></td>
        <td><form action="/clients/<%= client.id() %>/delete" method="POST"><input type="submit" value="Delete"></form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="btn-wrapper">
<a href="/clients/new" class="btn btn-add">Register a new client</a>
</div>
