<h2>Current client list...</h2>
<div class="tables">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Modify</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% for client in @clients %>
      <tr>
        <td>
          <div class="hyperlink">
            <a href="/clients/<%= client.id() %>"><%= client.format_name() %></a>
          </div>
        </td>
        <td><%= client.age() %></td>
        <td><a href="/clients/<%= client.id() %>/edit"><button type="button">Edit</button></a></td>
        <td><form action="/clients/<%= client.id() %>/delete" method="POST"><input type="submit" value="Delete"></form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form">

<h2>Add a client</h2>

<form action="/clients" method="post">
  <div class="form-wrapper">

<div class="form-elements">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" id="first_name"/>
</div>

<div class="form-elements">
  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" id="last_name"/>
</div>

<div class="form-elements">
  <label for="age">Age:</label>
  <input type="number" name="age" id="age"/>
</div>

<div class="form-elements">
  <input type='submit' value="Add new client">
</div>

  </div>
</form>

</div>
