<h2>Client list</h2>
<div class="tables">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Modify</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% for client in @clients %>
      <tr>
        <td>
          <div class="hyperlink">
            <a href="/clients/<%= client.id() %>"><%= client.format_name() %></a>
          </div>
        </td>
        <td><%= client.age() %></td>
        <td><a href="/clients/<%= client.id() %>/edit" class="btn">Edit</a></td>
        <td><form action="/clients/<%= client.id() %>/delete" method="POST"><input type="submit" value="Delete" class="btn"></form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form--events">

<h2>Add a client</h2>

<form action="/clients" method="post">
  <!-- <div class="form-wrapper"> -->

<div class="form-elements">
  <!-- <label for="first_name">First name:</label> -->
  <input placeholder="First name" type="text" name="first_name" id="first_name" required/>
</div>

<div class="form-elements">
  <!-- <label for="last_name">Last name:</label> -->
  <input placeholder="Last name" type="text" name="last_name" id="last_name" required/>
</div>

<div class="form-elements">
  <!-- <label for="age">Age:</label> -->
  <input placeholder="Age" type="number" name="age" id="age" required/>
</div>

<div class="form-elements">
  <input type='submit' value="Add new client" class="btn">
</div>

  <!-- </div> -->
</form>

</div>
