<div class="tables--onerow">
  <h2><%= @clients.format_name() %> info</h2>
  <table>
    <thead>
      <tr>
        <th><%= @clients.first_name.capitalize %> <%= @clients.last_name.capitalize %> (<%= @clients.age %>)</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.events.each do |event| %>
      <tr>
        <td>
          <div class="hyperlink">
            <a href="/events/<%= event.id() %>"><%= event.title %></a>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
